<section class="ether">
  <h1 class="ether__category">Works</h1>
  <h2 class="ether__title">Ether</h2>
  <p class="ether__link"><a href="https://ether-hardworker.herokuapp.com/">サイトへ</a></p>
  <%= image_tag 'ether.png', class: 'ether__image' %>
  <h2 class="ether__tech">HTML / CSS / Vue / Ruby / Ruby on Rails</h2>
  <div class="ether__whatis">
    <div class="ether__item">
      <h3 class="ether__item--title">概要</h3>
      <p class="ether__item--description">
        "誰でもいいから話を聞いて欲しい"<br>
        そんな人が気軽に相談できる完全匿名コミュケーションツールです。<br>
        主に仕事の愚痴を共有することを目的として作成しましたが、話を聞いて欲しい時とはどういう時かを考え、6つのカテゴリーのグループが作成できるようになっています。<br>
        グループはユーザーの中からランダムで5人選択されます。<br>
        毎晩3時にグループを削除します。
      </p>
    </div>
    <div class="ether__item">
      <h3 class="ether__item--title">なぜ作ったか</h3>
      <p class="ether__item--description">
        以下のスライドをご覧ください。<br><br>
        <div class="ether__presen">
          <iframe src="//www.slideshare.net/slideshow/embed_code/key/4EFcYkrZi5X496" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ShinUsuda/ether-229255245" title="Ether" target="_blank">Ether</a> </strong> from <strong><a href="https://www.slideshare.net/ShinUsuda" target="_blank">ShinUsuda</a></strong> </div>
        </div>
      </p>
    </div>
    <div class="ether__item">
      <h3 class="ether__item--title">こだわり</h3>
      <p class="ether__item--description">
        "誰でもいいから聞いて欲しい"を実現するために、後腐れのなさを意識しました。<br>
        あくまでグループは1日で削除されることや、完全匿名としているため、悩みを相談したい人はフォローフォロワー機能の時よりも気軽に投稿することができます。<br>
      </p>
    </div>
    <div class="ether__item">
      <h3 class="ether__item--title">今後行うこと</h3>
      <p class="ether__item--description">
        ・テストスペックの実装<br>
        ・チャットのスクロール機能の実装<br>
        ・グループ参加ユーザーに対するいいね機能の実装
      </p>
    </div>
    <div class="ether__item">
      <h3 class="ether__item--title">課題</h3>
      <p class="ether__item--description">
        Vue.jsの基本的な文法理解はできたが、状態管理などの概念を理解し、Nuxt.jsなどを取り入れていく。<br>
      </p>
    </div>
  </div>
</section>