<section class="welcome">
  <div class="welcome__box">
    <h1 class="welcome__my-name">SHIN USUDA</h1>
    <p class="welcome__text">wanna be like that</p>
  </div>
</section>
<section class="character">
  <div class="character__coffee-is">
    <h1 class="character__philosophy">Philosophy</h1>
    <h1 class="character__head">コーヒーのような存在になりたい</h1>
    <%= image_tag 'coffee_break.png', class: "character__coffee-icon" %>
    <p class="character__description">
      皆さんが毎日口にするコーヒーには脳の活性作用、運動能力の向上、リラックス作用があります。<br>
      企業の創造性を活性させ、前へ進む推進力を与える。<br>
      時に安心感を与え、多くの人々に愛される。<br>
      私はそんな存在になりたいと常に思っております。
    </p>
  </div>
</section>
<!-- <section class="plofile">
  <h1 class="plofile__">Profile</h1>
</section> -->
<section class="works">
  <h1 class="works__title">Works</h1>
  <p class="works__thought">
    良いサービスとはどのようにして生まれてきたのか。<br>
    これに関して考えてみました。<br>
    考えた末に以下３つの観点から生まれるのではないかと考え、作品作成を行いました。</p>
  <div class="works__box">
    <div class="works__pull-economy"></div>
    <div class="works__hobby"></div>
    <div class="works__efficiency"></div>
  </div>
</section>
<footer>
</footer>