body {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  background-color: #212121;
}

a {
  text-decoration: none;
  color: #eceff1;
}

.welcome {
  height: 700px;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), #212121 95%), image-url("mario.jpg") center center / cover no-repeat;
  align-items: center;
  justify-content: center;
  &__box {
    padding-top: 40px;
  }
  &__my-name {
    font-family: 'Quicksand', san-serif;
    font-size: 42px;
    font-weight: 500;
    color: #eceff1;
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    font-family: 'Quicksand', san-serif;
    color: #eceff1;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
}
.character {
  width: 100vw;
  background-color: #212121;
  display: flex;
  justify-content: center;
  color: #eceff1;
  padding: 100px 0;
  &__coffee-is {
    text-align: center;
  }
  &__philosophy {
    font-family: 'Quicksand', san-serif;
    font-size: 35px;
    margin-bottom: 40px;
  }
  &__coffee-icon {
    height: 90px;
    width: 90px;
    margin-bottom: 40px;
  }
  &__head {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}

.profile {
  width: 100%;
  text-align: center;
  background-color: #212121;
  color: #eceff1;
  padding: 100px 0;
  &__title {
    font-family: 'Quicksand', san-serif;
    font-size: 35px;
    margin-bottom: 40px;
  }
  &__info {
    display: flex;
  }
  &__my-image {
    background-image: image-url("me.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    width: 380px;
    height: 300px;
    border-radius: 50%;
    margin-left: 80px;
  }
  &__text {
    text-align: left;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 80px;
    padding-top: 10px;
    line-height: 30px;
  }
}

.works {
  width: 100%;
  background-color: #212121;
  text-align: center;
  color: #eceff1;
  padding: 100px 0;
  &__title {
    font-family: 'Quicksand', san-serif;
    font-size: 35px;
    margin-bottom: 40px;
  }
  &__thought {
    font-size: 20px;
    margin-bottom: 100px;
    line-height: 30px;
  }
  &__box {
    display: flex;
  }
  &__pull-economy {
    width: 33%;
    text-align: center;
  }
  &__hobby {
    width: 33%;
    text-align: center;
  }
  &__efficiency {
    width: 33%;
    text-align: center;
  }
  &__subtitle {
    font-size: 25px;
    margin-bottom: 40px;
  }
  &__icon {
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
  }
  &__description {
    padding: 0 80px;
    height: 250px;
    text-align: left;
    line-height: 25px;
  }
  &__work-name {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: 20px auto 10px auto;
  }
  &__work_img {
    height: 180px;
    width: 300px;
    background-size: contain;
    overflow: hidden;
  }
  &__work_img:hover {
    transition-duration: 0.3s;
    opacity: 0.6;
  }
}

.comming-soon {
  background-color: gray;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height:300px;
  width: 100%;
  background-color: black;
  color: #eceff1;
  &__box {
    width: 50%;
    margin: 0 auto;
  }
  &__page-link {
    padding-top: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 80px;
  }
  &__sns-link {
    color: #eceff1;
    list-style: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  &__sns-list {
    margin-left: 30px;
    &--image {
      margin-left: 15px;
    }
  }
  &__note-icon {
    width: 55px;
    height: 55px;
  }
}
.tone-up-date {
  width: 100%;
  background-color: #212121;
  text-align: center;
  color: #eceff1;
  padding: 100px 0;
  &__category {
    font-family: 'Quicksand', san-serif;
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 2px #eceff1 solid;
    width: max-content;
    margin: 0 auto 40px auto;
    padding-bottom: 9px;
  }
  &__title {
    font-family: 'Quicksand', san-serif;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__link {
    margin-bottom: 20px;
  }
  &__image {
    height: 594px;
    width: 1000px;
    margin-bottom: 20px;
  }
  &__tech {
    font-family: 'Quicksand', san-serif;
    margin-bottom: 80px;
    font-size: 25px;
  }
  &__whatis {
    width: 50%;
    margin: 0 auto;
  }
  &__item {
    width: 100%;
    margin-bottom: 100px;
    &--title {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    &--description {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }
}
.ether {
  width: 100%;
  background-color: #212121;
  text-align: center;
  color: #eceff1;
  padding: 100px 0;
  &__category {
    font-family: 'Quicksand', san-serif;
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 2px #eceff1 solid;
    width: max-content;
    margin: 0 auto 40px auto;
    padding-bottom: 9px;
  }
  &__title {
    font-family: 'Quicksand', san-serif;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__link {
    margin-bottom: 20px;
  }
  &__image {
    height: 594px;
    width: 1000px;
    margin-bottom: 20px;
  }
  &__tech {
    font-family: 'Quicksand', san-serif;
    margin-bottom: 80px;
    font-size: 25px;
  }
  &__whatis {
    width: 50%;
    margin: 0 auto;
  }
  &__item {
    width: 100%;
    margin-bottom: 100px;
    &--title {
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    &--description {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }
  &__presen {
    text-align: center;
  }
}
.works-footer {
  height:100px;
  width: 100%;
  background-color: black;
  color: #eceff1;
  padding-top: 60px;
  &__box {
    width: 50%;
    margin: 0 auto;
  }
  &__sns-link {
    color: #eceff1;
    list-style: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__sns-list {
    margin-left: 30px;
    &--image {
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  &__note-icon {
    width: 55px;
    height: 55px;
  }
}